@page "/"

<div class="index-root-grid">
    <div class="index-title">
        <h1>Welcome To @Constants.Names.ApplicationName</h1>
    </div>
    <div class="index-content">
        <FairPlayDating.MauiBlazor.Components.Facebook.MyAlbums></FairPlayDating.MauiBlazor.Components.Facebook.MyAlbums>
    </div>
</div>