<div class="myprofile-root-grid">
    <div class="myprofile-title">
        <h1>My Profile</h1>
    </div>
    <div class="myprofile-content">
        @if (AllActivities != null && this.AllFrequencies != null && this.ExtendedUserActivities != null)
        {
            <h2>Activities</h2>
            @foreach (var singleExtendedUserActivity in this.ExtendedUserActivities)
            {
                <div class="row">
                    <div class="col">
                        @singleExtendedUserActivity.ActivityName
                    </div>
                    <div class="col">
                        <select value="@singleExtendedUserActivity.FrequencyId" class="form-select" 
                        @onchange="( async (ChangeEventArgs e) => await OnExtendedActivityFrequencyChangedAsync(singleExtendedUserActivity, e) )">
                            @foreach (var singleFrequency in this.AllFrequencies)
                            {
                                <option value="@singleFrequency.FrequencyId">@singleFrequency.Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        }
    </div>
</div>
