@inherits LayoutComponentBase

<div class="root-grid">
    <div class="root-grid-header">
        <div class="logo-section">
            <div class="logo-image">
                <a href="/">
                    <img src="./images/ptilogo.png" style="max-height:100px;" />
                </a>
            </div>
        </div>
    </div>
    <div class="main-page-content">
        @if (!HasInternet)
        {
            <h1>Unable to Access the Internet</h1>
        }
        else
        {
            @Body
        }
    </div>
    <div class="footer-section">
        <div class="footer-icons-section">
            Footer Icons Here
        </div>
    </div>
</div>
