@using FairPlayDating.MauiBlazor.Features.LogOn
@inherits LayoutComponentBase

<div class="root-grid">
    <div class="root-grid-header">
        <div class="logo-section">
            <div class="logo-image">
                <a href="/">
                    <img src="./images/ptilogo.png" style="max-height:100px;" />
                </a>
            </div>
        </div>
    </div>
    <div class="main-page-content">
        @if (!HasInternet)
        {
            <h1>Unable to Access the Internet</h1>
        }
        else if (Features.LogOn.UserState.UserContext?.IsLoggedOn == true)
        {
            @Body
        }
        else
        {
            <Login OnLoginSuccess="OnLoginSuccess"></Login>
        }
    </div>
    <div class="footer-section">
        <div class="footer-icons-section">
            @if (UserState.UserContext?.IsLoggedOn == true)
            {
                <button type="button" class="btn"
                    style="color:white;"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="My Profile"
                    @onclick="OnMyProfileButtonClicked">
                    <i class="bi bi-person-bounding-box"></i>
                </button>
                <button type="button" class="btn"
                    style="color:white;"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Logout"
                    @onclick="OnLogoutButtonClicked">
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            }
        </div>
    </div>
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                        Timeout="20"
                        IconType="IconType.Material" />